.container {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  display: grid;
  background-color: brown;
  grid-template-rows: auto auto minmax(0, 1fr); 
  border-color: black;
  border-style: solid;
}

.heading {
  margin-bottom: 15px;
  margin-top: 0;
}