.container {
  margin: 0 auto;
  padding: 20px;
  color: black;
  background-color: green;
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr); 
}

h1 {
  color: black;

}

.heading {
  margin-bottom: 15px;
  margin-top: 0;
}